outpath:${class.workspaceRelativePath}kvo/search/${classname}SearchKVO.java
package ${package}.kvo.search;

import com.inepex.ineForm.shared.kvo.IneList;
import com.inepex.ineForm.shared.kvo.KeyValueObject;
import com.inepex.ineForm.shared.kvo.Relation;

public class ${classname}SearchKVO extends KeyValueObject {

	private static final long serialVersionUID = 1L;

	public static final String descriptorName = "${classnameL1}SearchDescriptor";

#foreach( $attr in $attrs )
#if(${attr.hasAnnotation("Kvo_SearchParam")})
	public static final String k_${attr.name} = "${attr.name}";
#end
#end 
	public ${classname}SearchKVO() {
		super(descriptorName);
	}

	public ${classname}SearchKVO(KeyValueObject other) {
		super(descriptorName);
		if (other != null)
			if (descriptorName.equals(other.getDescriptorName()))
				other.copyValuesTo(this);
	}
	
#foreach( $attr in $attrs )
#if(${attr.hasAnnotation("Kvo_SearchParam")})
#if ($attr.name == "id")
	public Long getId() {
		return super.getId();
	}
	
#elseif( $attr.type == "Date" || $attr.enum)
	public Long get${attr.nameU1}() {
		if (longValues == null)
    		return null;

		return longValues.get(k_${attr.name});
	}
	
#elseif($attr.type == "Long" || $attr.type == "Double" || $attr.type == "String" || $attr.type == "Boolean" )
	public ${attr.type} get${attr.nameU1}() {
		if (${attr.typeL1}Values == null)
    		return null;
			
		return ${attr.typeL1}Values.get(k_${attr.name});
	}
	
#elseif(${attr.hasAnnotation("Kvo_OneToOne")})
	public String get${attr.nameU1}() {
		if (stringValues == null)
    		return null;

		return stringValues.get(k_${attr.name});
	}
#elseif($attr.list == true)
	public IneList get${attr.nameU1}() {
		if (listValues == null)
    		return null;
		return listValues.get(k_${attr.name});
    }
#else 
    public Relation get${attr.nameU1}() {
		if (relationValues == null)
    		return null;
		return relationValues.get(k_${attr.name});
    }
	
#end
#end
#end
#foreach( $attr in $attrs )
#if(${attr.hasAnnotation("Kvo_SearchParam")})
#if( $attr.type == "Date" || $attr.enum)
    public void set${attr.nameU1}(Long ${attr.name}) {
		set(k_${attr.name}, ${attr.name});
    }
	
#elseif($attr.type == "Long" || $attr.type == "Boolean" || $attr.type == "Double" || $attr.type == "String")
    public void set${attr.nameU1}(${attr.type} ${attr.name}) {
		set(k_${attr.name}, ${attr.name});
    }

#elseif(${attr.hasAnnotation("Kvo_OneToOne")})
   public void set${attr.nameU1}(String ${attr.name}) {
		set(k_${attr.name}, ${attr.name});
    }
#elseif($attr.list == true)
    public void set${attr.nameU1}(IneList ${attr.name}) {
		set(k_${attr.name}, ${attr.name});
    }
	
#else 
    public void set${attr.nameU1}(Relation ${attr.name}) {
		set(k_${attr.name}, ${attr.name});
    }

#end
#end
#end	
	
}