outpath:${class.workspaceRelativePath}dao/${classname}Dao.java
package ${package}.dao;

import java.util.HashMap;
import java.util.List;
import java.util.Map;

import com.google.inject.Inject;
import com.google.inject.Provider;
import com.google.inject.Singleton;
import com.google.inject.persist.Transactional;
import javax.persistence.EntityManager;
import javax.persistence.PersistenceContext;
import javax.persistence.criteria.Expression;
import javax.persistence.criteria.Predicate;

import com.inepex.ineForm.server.CriteriaSelector;
import com.inepex.ineForm.server.KVManipulatorDaoBase;
import com.inepex.ineForm.shared.dispatch.AbstractSearchAction;
import com.inepex.ineForm.shared.dispatch.ObjectListResult;
import com.inepex.ineForm.shared.dispatch.ObjectManipulationAction;
import com.inepex.ineForm.shared.dispatch.ObjectManipulationResult;
import com.inepex.ineForm.shared.dispatch.RelationListResult;

import ${package}.*;
import ${package}.kvo.*;
import ${package}.assist.*;
import ${package}.kvo.search.*;
import ${package}.mapper.*;
import ${package}.meta.*;
import ${package}.dao.query.*;
import ${package}.dao.*;
import ${package}.daoext.*;

import com.inepex.ineForm.shared.kvo.*;

@Singleton
public class ${classname}Dao extends KVManipulatorDaoBase {

	public static class ${classname}Selector<T> extends CriteriaSelector<T, ${classname}> {
		public ${classname}Selector(Provider<EntityManager> em, Class<T> resultClass) {
			super(em, resultClass, ${classname}.class);
		}
		
		public void buildDefaultQuery(AbstractSearchAction action) {
			if (action.getSearchParameters() != null) {
				Expression<Boolean> expr = null;
				expr = ${classname}Query.buildWhere(action, cb, root, expr);
				if (expr != null) {
					Predicate exisitngRestriction = cq.getRestriction();
					if (exisitngRestriction != null)
						expr = cb.and(expr, exisitngRestriction);
									
					cq.where(expr);
				}
			}
		}
		
		public void orderBy(AbstractSearchAction action) {
			cq.orderBy(${classname}Query.getOrderExpression(action, cb, root));
		}
	}

	public static interface ${classname}SelectorCustomizer extends SelectorCustomizer<${classname}Selector<?>> {
	}
	
	public ${classname}Mapper mapper = new ${classname}Mapper();
	
	protected ${classname}Selector<${classname}> sel = null;

	protected ${classname}Selector<Long> cSel = null;

	@Inject
	Provider<EntityManager> em;
	
#if(${class.hasAnnotation("Kvo_Audited")})
	@Inject
	UserDaoExt userDaoExt; 
#end

	@Inject
	${classname}Dao(){}

	public ${classname}Dao(Provider<EntityManager> em){
		this.em=em;
	}
	
	/*hc:customFields*/
	/*hc*/
	
	protected void createDefaultSelector() {
		sel = new ${classname}Selector<${classname}>(em, ${classname}.class);
	}
	
	protected void createDefaultCountSelector() {
		cSel = new ${classname}Selector<Long>(em, Long.class);
	}
	
	public void persist(${classname} entity){
		/*hc:beforepersist*/
		/*hc*/
#if(${class.hasAnnotation("Kvo_Audited")})
		entity.setCreatedUtc(System.currentTimeMillis());
		entity.setModifiedUtc(System.currentTimeMillis());
		entity.setCreatingUser(new User(userDaoExt.getLoggedInUser().getId()));
		entity.setModifyingUser(new User(userDaoExt.getLoggedInUser().getId()));
#end
		em.get().persist(entity);
		/*hc:afterpersist*/
		/*hc*/
	}
	
	/** Should be called after modifying!
	 * @param entity
	 */	
	public void merge(${classname} entity) {
		/*hc:beforemerge*/
		/*hc*/
#if(${class.hasAnnotation("Kvo_Audited")})
		entity.setModifiedUtc(System.currentTimeMillis());
		entity.setModifyingUser(new User(userDaoExt.getLoggedInUser().getId()));
#end
		em.get().merge(entity);
		/*hc:aftermerge*/
		/*hc*/	
	}
		
	public void remove(Long id) {
		/*hc:beforeremove*/
		/*hc*/
		em.get().remove(em.get().find(${classname}.class, id));
		/*hc:afterremove*/
		/*hc*/
	}
	
	public List<${classname}> find(AbstractSearchAction action) {
		return find(action, null, true, true);
	}
	
	public List<${classname}> find(
				AbstractSearchAction action
				, ${classname}SelectorCustomizer customizer
				, boolean useDefaultQuery
				, boolean useDefaultOrder) {
		${classname}Selector<${classname}> selector 
			= new ${classname}Selector<${classname}>(em, ${classname}.class);
			
		if (customizer != null)
			customizer.customizeSelect(selector);
			
		if(useDefaultQuery)
			selector.buildDefaultQuery(action);

		selector.setDistinctIfNotForcedFalse();
		
		if (useDefaultOrder)
			selector.orderBy(action);
		
		List<${classname}> res = selector.executeRangeSelect(action.getFirstResult()
											    , action.getNumMaxResult());
		return res;
	}
	
	public Long count(AbstractSearchAction action){
		return count(action, null, true);
	}
	
	public Long count(AbstractSearchAction action, ${classname}SelectorCustomizer customizer, boolean useDefaultQuery){
		${classname}Selector<Long> selector 
			= new ${classname}Selector<Long>(em, Long.class);
		
		if (customizer != null)
			customizer.customizeSelect(selector);
			
		if(useDefaultQuery)
			selector.buildDefaultQuery(action);
		else 
			selector.cq.distinct(true);
			
		selector.cq.select(selector.getCountExpression());
		
		Long res = selector.getTypedQuery().getSingleResult();
		return res;
	}
	
	public ${classname} findById(Long id){
		${classname} o = em.get().find(${classname}.class, id);
		return o;
	}
	
	@Transactional
	public ObjectManipulationResult manipulate(ObjectManipulationAction action) throws Exception {
		ObjectManipulationResult result = new ObjectManipulationResult();
		switch (action.getManipulationType()){
		case CREATE_OR_EDIT_REQUEST:
			${classname} newState = doCreateOrEdit((KeyValueObject)action.getObject());
			${classname}KVO kvo = mapper.entityToKvo(newState);
			result.setObjectsNewState(kvo);
			break;
		case DELETE:
			remove(action.getObject().getId());
			break;
		case REFRESH:
			result.setObjectsNewState(findKvoById(action.getObject().getId()));
			break;
		default:
			throw new Exception("Invalid manipulation type");
		}
		
		return result;
	}
	
	protected ${classname} doCreateOrEdit(KeyValueObject kvo) {
		${classname} entity = null;
		
		if(kvo.isNew())
			entity = new ${classname}();
		else
			entity = findById(kvo.getId());

		mapper.kvoToEntity(new ${classname}KVO((KeyValueObject)kvo), entity);
		if(kvo.isNew())
			persist(entity);
		else
			merge(entity);
			
		return entity;
	}
	
	
	public ${classname}KVO findKvoById(Long id) {
		${classname} entity = findById(id);
		return mapper.entityToKvo(entity);
	}
	
	public ${classname}KVO mergeWithDbState(KeyValueObject difference){
		if (difference.isNew())
			return new ${classname}KVO(difference);
		${classname}KVO dbState = findKvoById(difference.getId());
		difference.copyValuesTo(dbState);
		return dbState;
	}
	
	public ObjectListResult search(AbstractSearchAction action){
		return search(action, true, true, null);
	}
	
	public ObjectListResult search(
					AbstractSearchAction action
					, boolean useDefaultQuery
					, boolean useDefaultOrder
					, ${classname}SelectorCustomizer customizer){
		ObjectListResult res = new ObjectListResult();
		if (action.isQueryResultCount()){
			res.setAllResultCount(count(action, customizer, useDefaultQuery));
		}
		if(action.getNumMaxResult() > 0)
			res.setList(mapper.entityListToKvoList(find(action, customizer, useDefaultQuery, useDefaultOrder)));		
		return res;
	}

	public RelationListResult searchAsRelation(AbstractSearchAction action){
		RelationListResult res = new RelationListResult();
		if (action.isQueryResultCount()){
			res.setAllResultCount(count(action));
		}
		res.setList(mapper.toRelationList(find(action)));		
		return res;
	}
}