@CHARSET 'UTF-8';
@external .gwt-*;

.selectorPanel{
	vertical-align: top;
}

.selector {
	width: 150px;
}

.displayInline {
	display: inline;
}

.fpb_errorMessageHolder_dontShowError {
	display: block !important;
	width: 402px;
	margin-bottom: 3px;
	padding: 4px 4px 4px 4px;
}

.fpb_errorMessageHolder_showError {
	display: block !important;
	border:1px solid red;
	background-color:#FFF2F2;
	color:black;
	margin-bottom:3px;
	padding:4px;
	width:400px;
}

.errorMessageHolder_dontShowError {
	width: 402px;
	margin-bottom: 3px;
	padding: 4px 4px 4px 4px;
}

.errorMessageHolder_showError {
	width:400px;
}

@sprite .errorMessageHolder_showError div {
	gwt-image: 'form_error';
	background-position: 15px 13px;
	background-color: #e74c3c;
	color: white;
	font-size: 13px;
    margin-bottom: 27px;
    padding-left: 45px;
    padding-right: 10px;
    padding-top: 13px;
    padding-bottom: 13px;
    
    position: relative;
    top: -4px;
    min-width: 400px;
    
    white-space: nowrap;
}

.clickable {
	cursor: pointer;
}

/* inetable */
.ineTable {
	width: 100%;
	margin-bottom: 15px;
	margin-top: 15px;
}

/* ineform */
.simpleTableFormUnit {
	font-size: 14px;
}

.simpleTableFormUnit div {
	display: inline;
	margin-right: 5px;
}

.cellTitle {
	color:#666;
	font-size: 14px;
}

.cellContent {
	line-height: 23px;
}

.textBoxFW,
.cellContent .gwt-TextBox,
.cellContent .gwt-PasswordTextBox {
	border: 1px solid #ccc;
	color: #666;
	font-size: 14px;
	height: 30px;
	border-radius: 3px;
	padding: 5px 0 5px 10px;
}

.cellContent .gwt-TextArea {
	border:1px solid #ccc;
	color:#7F9DB9;
	font-size:12px; 
	padding:1px 1px 1px 4px;
	border-radius: 3px;
	color: #666
}

.mandatorySign {
	padding: 5px;
	color: red;
	font-size:12px;
	vertical-align: super;
}

.evenCellContent{}
.oddCellContent{}

.flashingBorder {
	border-color: red;
	border-style: solid;
	border-width: 2px;
}

/* form widgets */
.formWidgetError{
}

.ChooserFw{
	width: 100%;
}

.richTextArea{
	background:white;
}

.customKVOTable {
	border-collapse: collapse;
	border-spacing: 0;
}

.customKVOTable td {
	padding: 10px;
}

.customKVOTableContent {
	border: 1px solid #f0f0f0;
}

.customKVOHeader,
.customKVOHeaderRO,
.customKVOHeaderType,
.customKVOHeaderTypeRO {
	width: 132px;
	padding: 10px;
	font-size: 14px;
	text-align: left;
	font-weight: bold;
	border: 1px solid #f0f0f0;
	border-bottom: 2px solid #f0f0f0;
}

.customKVOHeaderType,
.customKVOHeaderTypeRO {
	width: 90px;	
}

.placeHolderTitlePanel{
}

.labelledFWLabel {
	color: #666;
	display: block;
    font-size: 13px;
    padding-top: 10px;
    padding-left: 2px;
}

.labelFW {
	font-size: 14px;
}

.datetimeFW {
}

.datetimeFW div{
	padding-right: 10px;
}

.labelClickableFW{
	margin-left: 8px;
	text-decoration: underline;
	cursor: pointer;
}

.labelClickableFW:hover{
	text-decoration: none;
	cursor: hover;
}

@sprite .tableEditIcon {
	gwt-image : 'rowcommand_edit';
	opacity: 0.4;
	display: inline-block;	
}

@sprite .tableDeleteIcon {
	gwt-image : 'rowcommand_delete';
	opacity: 0.4;
	display: inline-block;
}

.tableDeleteIcon:hover,
.tableEditIcon:hover {
	cursor: pointer;
	opacity: 1.0;
}

.abstractField_dateLabel {
    border: 1px solid #CCC;
    font-size: 13px;
    line-height: 45px;
    padding: 11px 10px 11px 10px;
    vertical-align: bottom;
}

/* firefox */
@if user.agent gecko1_8 {
	.abstractField_dateLabel{
	 	padding: 11px 10px 10px 10px;
	 }
}

.saveCancelButtonDiv {
	padding-top: 15px;
}