@CHARSET 'UTF-8';
@external .gwt-*;

.selectorPanel{
	vertical-align: top;
}

.selector {
	width: 150px;
}

.displayInline {
	display: inline;
}

.fpb_errorMessageHolder_dontShowError {
	display: block !important;
	width: 402px;
	margin-bottom: 3px;
	padding: 4px 4px 4px 4px;
}

.fpb_errorMessageHolder_showError {
	display: block !important;
	border:1px solid red;
	background-color:#FFF2F2;
	color:black;
	margin-bottom:3px;
	padding:4px;
	width:400px;
}

.errorMessageHolder_dontShowError {
	width: 402px;
	margin-bottom: 3px;
	padding: 4px 4px 4px 4px;
}

.errorMessageHolder_showError {
	width:400px;
}

@sprite .errorMessageHolder_showError div {
	gwt-image: 'form_error';
	background-position: 15px 13px;
	background-color: #e74c3c;
	color: white;
	font-size: 13px;
    margin-bottom: 27px;
    padding-left: 45px;
    padding-right: 10px;
    padding-top: 13px;
    padding-bottom: 13px;
    
    position: relative;
    top: -4px;
    min-width: 45px;
}

.clickable {
	cursor: pointer;
}

/* inetable */
.ineTable {
	width: 100%;
}

/* ineform */
.simpleTableFormUnit {
	font-size: 10px;
}

.simpleTableFormUnit div {
	display: inline;
	margin-right: 5px;
}

.cellTitle {
	color:#666;
	font-size: 14px;
}

.cellContent {
	width: 640px;
}

.cellContent .gwt-TextBox,
.cellContent .gwt-PasswordTextBox {
	border: 1px solid #ccc;
	color: #666;
	font-size: 14px;
	height: 30px;
	border-radius: 3px;
	padding-left: 10px;
}

.cellContent .gwt-TextArea {
	border:1px solid #7F9DB9; color:#7F9DB9; font-size:10px; padding:1px 1px 1px 4px;
}

.mandatorySign {
	padding: 5px;
	color: red;
	font-size:12px;
}

.evenCellContent{}
.oddCellContent{}

.flashingBorder {
	border-color: red;
	border-style: solid;
	border-width: 2px;
}

/* form widgets */
.formWidgetError{
}

.ChooserFw{
	width: 100%;
}

.richTextArea{
	background:white;
}

.customKVOHeader,
.customKVOHeaderRO {
	width: 132px;
	font-size: 14px;
	padding: 10px 0px;
/* 	font-weight: normal; */
}

.customKVOHeaderType,
.customKVOHeaderTypeRO {
	font-size: 14px;
	padding: 10px 0px;
/* 	font-weight: normal; */
	width: 90px;	
}

.placeHolderTitlePanel{
}

.labelledFWLabel {
	font-size: 10px;
	color: #666;
}

.textBoxFW{
	border: 1px solid #ccc;
	color: #666;
	font-size: 14px;
	height: 30px;
	border-radius: 3px;
	padding: 5px 0 5px 10px;
}

.datetimeFW {
}

.datetimeFW div{
	padding-right: 10px;
}

.labelClickableFW{
	margin-left: 8px;
	text-decoration: underline;
}

.labelClickableFW:hover{
	text-decoration: none;
	cursor: hover;
}