@CHARSET "UTF-8";
@external .gwt-*;

@sprite .ineCheckBox_old{
	gwt-image: 'checkBoxBG_old';
    display: inline-block;
    float: left;
    height: 13px;
    padding: 0;
	margin-top: 5px;
    width: 12px;
    background-position: -15px -0.5px;
}

.ineCheckBoxActive_old{
	background-position: 0 0;
}

.ineCheckBoxText_old{
    float: left;
    margin-top: 2px;
    padding-left: 5px;
    color: #666666;
    display: block;
    font-size: 14px;
    margin-right: 10px;
}

.ineCheckBoxDisabled_old {
	cursor: normal;
	opacity: 0.7;
}

@sprite .ineCheckBox{
	gwt-image: 'checkBoxBG';
    display: inline-block;
    float: left;
    height: 17px;
    padding: 0;
	margin-top: 5px;
    width: 15px;
    background-position: -18px 0;
}

.ineCheckBoxActive{
	background-position: 0 0;
}

.ineCheckBoxText{
    float: left;
    margin-top: 2px;
    padding-left: 5px;
    color: #666666;
    display: block;
    font-size: 14px;
    margin-right: 10px;
}

.ineCheckBoxDisabled {
	cursor: normal;
	opacity: 0.7;
}

@sprite .listBoxExtraDiv,
.OLD_listBoxExtraDiv {
	display: inline-block !important;
	height: 38px;
	line-height: 38px;
	margin-top: 2px;
   	overflow: hidden;
   	outline: none;
   	
   	gwt-image: 'select_icon';
	background-color: #FFFFFF;
	
	/* Turning off selection arrows */
	-webkit-appearance: none;
	
	/* Border */
	border: 1px solid #ccc;
	border-radius: 3px;
  	-moz-border-radius: 3px;
  	-webkit-border-radius: 3px;  	
}

.OLD_listBoxExtraDiv {
	height: 30px;
	line-height: 30px;
}

.listBoxExtraDiv .gwt-ListBox,
.OLD_listBoxExtraDiv .gwt-ListBox {
	padding: 0 0 0 10px !important;
	
	background: transparent;
	outline: none;
	font-weight: bold;
	font-size: 12px;
	color: #666666;
	
	/* Turn off base selection arrows */
	-webkit-appearance: none;
	
	border: none;	
	
	height: 29px;
	line-height: 40px;
}

.OLD_listBoxExtraDiv .gwt-ListBox {
	height: 21px;
	line-height: 32px;
}