@CHARSET 'UTF-8';
@eval base com.inepex.ineFrame.client.util.DesignConstants.baseWithUnit();
@eval b0d166 com.inepex.ineFrame.client.util.DesignConstants.b0d166WithUnit();

@eval backgroundColor com.inepex.ineFrame.client.util.DesignConstants.getBackgroundColor();
@eval ineColor1 com.inepex.ineFrame.client.util.DesignConstants.getIneColor1();
@eval ineColor2 com.inepex.ineFrame.client.util.DesignConstants.getIneColor2();
@eval menuFontColor com.inepex.ineFrame.client.util.DesignConstants.getMenuFontColor();

@eval base com.inepex.ineFrame.client.util.DesignConstants.baseWithUnit();
@eval b0d333 com.inepex.ineFrame.client.util.DesignConstants.b0d333WithUnit();
@eval b0d25 com.inepex.ineFrame.client.util.DesignConstants.b0d333WithUnit();
@eval b0d666 com.inepex.ineFrame.client.util.DesignConstants.b0d666WithUnit();

@eval defaultAnimationLength com.inepex.ineFrame.client.util.DesignConstants.defaultAnimationLengthWithUnit();


.scrollPane {
	width: 100%;
	position: relative;
	background-color: #000;
	cursor: pointer;
	opacity: 0.5;
	border-radius: 3px;
	-moz-border-radius: 3px 3px 3px 3px;
	-webkit-border-top-radius: 3px 3px 3px 3px;
}

.header {
	height: base;
	background: backgroundColor;
	border-bottom: 3px solid ineColor1;
	z-index: 1500;
	position: relative;
	font-size: b0d333;
	color: menuFontColor;
	
	-webkit-transition: all ease defaultAnimationLength;
	-moz-transition: all ease defaultAnimationLength;
	-o-transition: all ease defaultAnimationLength;
	-ms-transition: all ease defaultAnimationLength;
	transition: all ease defaultAnimationLength;
}

.logo {
	cursor: pointer;
	vertical-align: middle;
}

.menuTable {
	height: base;
	float: left;
}

.menuCell {
	vertical-align: middle;
	padding-right: b0d166;
	line-height: b0d166;
}

@sprite .menuIcon {
	cursor: pointer;
	gwt-image: 'headerDrawerIcon';
	margin-left: 15px;
	
	-webkit-transition: all ease defaultAnimationLength;
	-moz-transition: all ease defaultAnimationLength;
	-o-transition: all ease defaultAnimationLength;
	-ms-transition: all ease defaultAnimationLength;
	transition: all ease defaultAnimationLength;
}

@sprite .backIcon {
	cursor: pointer;
	gwt-image: 'headerBackIcon';
	margin-left: 15px;
	
	-webkit-transition: all ease defaultAnimationLength;
	-moz-transition: all ease defaultAnimationLength;
	-o-transition: all ease defaultAnimationLength;
	-ms-transition: all ease defaultAnimationLength;
	transition: all ease defaultAnimationLength;
		
	-webkit-transform:rotate(360deg);
	-moz-transform:rotate(360deg);
	-o-transform:rotate(360deg);
	-ms-transform:rotate(360deg);
	transform:rotate(360deg);
}

.settingsUserName {
	color: #fff;
	font-size: 12px;
	cursor: pointer;
	float: right;
	margin-top: 18px;
	margin-right: 20px;
	cursor: pointer;
}

.settingsUserName:hover {
	color: #12ad2b;
	font-size: 12px;
	cursor: pointer;
	float: right;
	margin-top: 18px;
	margin-botton: 20px;
	margin-right: 20px;
}

.settingsPopup {
	background-color: white;
	border-radius: 3px;
	box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.4);
	width: 200px;
}

.settingsPopup td {
	text-align: right;
	height: 50px;
	vertical-align: middle !important;
	font-weight: bold;
	color: #ccc;
	border-top: 1px solid #ccc;
}

.settingsPopup tr:first-child td {
	border-top: 0;
}

.settingsPopup td:hover {
	background: #f6f6f6;
	cursor: pointer;
	color: #666;
	border-radius: 3px;
}

.settingsPopup td div {
	padding: 0 15px;
	line-height: 50px;
}

.settingPanel {
	float: right;
	width: 50px;
	height: 50px;
	border-left: 1px solid #555;
	cursor: pointer;
}

.settingPanel:hover {
	float: right;
	width: 50px;
	height: 50px;
	border-left: 1px solid #555;
	cursor: pointer;
	background-color: #12ad2b;
}

.settingImg {
	display: block;
	margin: 17px;
}

.menuRendererWidgetContainer {
	width: 100%;
	border-collapse: collapse;
}

.pageContent {
	padding: 15px;
}

/* menu*/
.menu {
	
}

.menuBorder {
	background: linear-gradient(to bottom, #D1D1D1 , #F5F5F5);
}

.menu ul {
	width: 100%;
	margin: 0;
	padding: 0;
	list-style: none;
}

.menu li {
	float: left;
}

.menu ul li div {
	float: left;
	margin-right: 10px;
	margin-left: 5px;
	line-height: 42px;
	height: 50px;
}

.menu a,.menu a:active,.menu a:link,.menu a:visited
	{
	float: left;
	color: #666;
	line-height: base;
	text-decoration: none;
	display: block;
	font-size: b0d333;
	border-left: 1px solid #f0f0f0;
	padding-left: b0d666;
	padding-right: b0d666;
}

.menu a:hover,.menu .current_page_item a
	{
	text-decoration: none;
	color: #fff;
	border-left: 1px solid ineColor1;
	background-color: ineColor1;
}

.menu .current_page_item a {
	font-weight: bold;
}

.menu li:first-child a {
	border-left: 0 !important;
}

.selector {
	width: 210px;
	color: #6d6d6d;
	font-weight: bold;
	font-size: 11pt;
	text-align: center;
	vertical-align: top;
	cursor: pointer;
	padding: 0;
}

@sprite .arrow {
	gwt-image: 'selector_arrow_bg';
	height: 13px;
	width: 100%;
	border-bottom: 1px solid #2e2e2d;
	border-right: 1px solid #2e2e2d;
}

.selector .arrow img {
	margin-bottom: 5px;
}

@sprite .item {
	gwt-image: 'selector_item_bg';
	height: 28px;
	width: 100%;
	border-bottom: 1px solid #2e2e2d;
	border-right: 1px solid #2e2e2d;
}

.selector .item .content {
	margin-top: 5px;
	white-space: nowrap;
}

.slider {
	overflow-y: hidden;
	max-height: 500px; /* approximate max height */
	transition-property: all;
	transition-duration: .5s;
	transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
}

.closed {
	max-height: 0;
	visibility: hidden;
}

.inAliasMode {
	background-color: ineColor2;
	border-bottom: 3px solid #FF0000;
	box-shadow: 0px 28px 60px 0px rgba(0, 0, 0, 1) inset;
	
	-webkit-transition: all ease defaultAnimationLength;
	-moz-transition: all ease defaultAnimationLength;
	-o-transition: all ease defaultAnimationLength;
	-ms-transition: all ease defaultAnimationLength;
	transition: all ease defaultAnimationLength;
}