@eval base com.inepex.ineFrame.client.util.DesignConstants.baseWithUnit();
@eval baseNegative com.inepex.ineFrame.client.util.DesignConstants.baseNegativeWithUnit();

.messageStyle {
	background-color: #ffcc33;
}

.errorStyle {
	background-color: #b24b4b;
	color: #ffffff;
}

.messageIcon {
	width: 16px;
	height: 16px;
	margin-left: 5px;
	margin-right: 10px;
	margin-top: -2px;
	vertical-align: middle;
}

.messageCloseIcon {
	cursor: pointer;
	padding: 0px 5px 0px 5px;
}

.messagebox {
	width: 100%;
	text-align: center;
}

.messagebox td {
	font-size: 14px;
	font-weight: bold;
	vertical-align: middle;
	width: 100%;
}