@eval base com.inepex.ineFrame.client.util.DesignConstants.base();
@eval baseNegative com.inepex.ineFrame.client.util.DesignConstants.baseNegative();
@eval b0d50 com.inepex.ineFrame.client.util.DesignConstants.b0d50();
@eval b0d50Negative com.inepex.ineFrame.client.util.DesignConstants.b0d50Negative();

.messageStyle {
	background-color: #ffcc33;
}

.errorStyle {
	background-color: #b24b4b;
	color: #ffffff;
}

.messageIcon {
	width: 14px;
	height: 14px;
	margin-left: 5px;
	margin-right: 10px;
	vertical-align: middle;
}

.messageCloseIcon {
	cursor: pointer;
	padding: 0px 5px 0px 5px;
}

.messagebox {
	width: 100%;
	text-align: center;
}

.messagebox td {
	font-size: 11px;
	font-weight: bold;
	vertical-align: middle;
	width: 100%;
}