package $package;
import $modulePackage.${className};

import com.inepex.inei18n.server.ServerI18nProvider;
import com.inepex.inei18n.shared.CurrentLang;
import com.google.inject.Provider;

public class Server${className}Provider extends ServerI18nProvider<${className}> {

	private static final long serialVersionUID = 1L;

	public Server${className}Provider(Provider<CurrentLang> currentLangProvider) {
		super(currentLangProvider);
	}

	@Override
	protected Class<${className}> getModuleClass() {
		return ${className}.class;
	}

	@Override
	public ${className} getVirgineI18nModule() {
		${className} module = new ${className}(this);
		initTexts(module);
		return module;
	}
	
	public void initTexts(${className} module){
#foreach($loc in $localizables )
		module.getTextMap().put("${loc.getKey()}", "$loc.getString("en")");
#end
	}
}
