outpath:${class.workspaceRelativePath}dao/query/${classname}Query.java
package ${package}.dao.query;

import java.util.ArrayList;
import java.util.List;

import javax.persistence.criteria.CriteriaBuilder;
import javax.persistence.criteria.Expression;
import javax.persistence.criteria.Join;
import javax.persistence.criteria.Order;
import javax.persistence.criteria.Path;
import javax.persistence.criteria.Root;

import com.google.inject.Inject;
import com.inepex.ineom.shared.dispatch.interfaces.AbstractSearch;
import com.inepex.ineom.shared.IneList;
import com.inepex.ineom.shared.Relation;
import com.inepex.ineom.shared.IFConsts;
import com.inepex.ineom.shared.descriptor.DescriptorStore;
import com.inepex.ineom.shared.util.SharedUtil;
import com.inepex.ineForm.server.BaseQuery;
import ${package}.kvo.${classname};
import ${package}.kvo.${classname}_;
import ${package}.kvo.${classname}Consts;
import ${package}.kvo.${classname}HandlerFactory;
import ${package}.kvo.${classname}HandlerFactory.${classname}SearchHandler;

public class ${classname}Query extends BaseQuery<${classname}>{

	private final ${classname}HandlerFactory handlerFactory;
	
	private final DescriptorStore descriptorStore;
	
	@Inject
	public ${classname}Query(DescriptorStore descriptorStore) {
		this.descriptorStore = descriptorStore;
		this.handlerFactory= new ${classname}HandlerFactory(descriptorStore);
	}
	
	@Override
	public Expression<Boolean> buildWhere(
		AbstractSearch action
		, CriteriaBuilder cb
		, Root<${classname}> from
		, Expression<Boolean> base){

#foreach( $attr in $attrs )
#if(${attr.hasAnnotation("Kvo_SearchParam")})	
		${classname}SearchHandler handler = handlerFactory.createSearchHandler(action.getSearchParameters());
		#break
#end
#end
		
#foreach( $attr in $attrs )
#if(${attr.hasAnnotation("Kvo_SearchParam")})
#if($attr.type == "Date" || $attr.type == "Long")
		Long ${attr.name} = handler.getLong(${classname}Consts.s_${attr.name});
		if (${attr.name}!=null)
			base = addAndExpression(cb, base, cb.equal(from.get(${classname}_.${attr.name}), ${attr.name}));
#elseif($attr.enum)
		Long ${attr.name} = handler.getLong(${classname}Consts.s_${attr.name});
		if (${attr.name}!=null)
			base = addAndExpression(cb, base, cb.equal(from.get(${classname}_.${attr.name}), ${attr.type}.values()[${attr.name}.intValue()]));
#elseif($attr.type == "String")
		String ${attr.name} = handler.getString(${classname}Consts.s_${attr.name});
		if (${attr.name}!=null)
			base = addAndExpression(cb, base, cb.like(cb.upper(from.get(${classname}_.${attr.name})),
	#if($attr.getAnnotationParamValue("Kvo_SearchParam","type")=="FilterType.OPENEND")
    	${attr.name}.toUpperCase() + "%"));
    #elseif($attr.getAnnotationParamValue("Kvo_SearchParam","type")=="FilterType.OPENSTART")
    	"%" + ${attr.name}.toUpperCase()));
    #elseif($attr.getAnnotationParamValue("Kvo_SearchParam","type")=="FilterType.OPENBOTH"))
    	"%" + ${attr.name}.toUpperCase() + "%"));
    #else ${attr.name}.toUpperCase()));#end
			
#elseif($attr.type == "Double")
		Double ${attr.name} = handler.getDouble(${classname}Consts.s_${attr.name});
		if (${attr.name}!=null)
			base = addAndExpression(cb, base, cb.equal(from.get(${classname}_.${attr.name}), ${attr.name}));
#elseif($attr.type == "Boolean")
		Boolean ${attr.name} = handler.getBoolean(${classname}Consts.s_${attr.name});
		if (${attr.name} != null)
			base = addAndExpression(cb, base, cb.equal(from.get(${classname}_.${attr.name}), ${attr.name}));
#elseif(${attr.hasAnnotation("Kvo_OneToOne")})
		String ${attr.name} = handler.getString(${classname}Consts.s_${attr.name});
		if (${attr.name}!=null && !${attr.name}.equals(""))
			base = addAndExpression(
				cb
				, base
				,${attr.typeU1}Query.getSearchExpression(cb, from.get(${classname}_.${attr.name}), ${attr.name}));
#elseif($attr.list == false)
		Relation ${attr.name} = handler.getRelation(${classname}Consts.s_${attr.name});
		if (${attr.name}!=null)
			base = addAndExpression(cb, base, cb.equal(from.get(${classname}_.${attr.name}).get(${attr.type}_.id), ${attr.name}.getId()));
#else
		IneList ${attr.name} = handler.getList(${classname}Consts.s_${attr.name});
		if (${attr.name} != null && ${attr.name}.getRelationList().size() > 0){
			List<Long> relationIds = new ArrayList<Long>();
			for (Relation r : ${attr.name}.getRelationList()){
				${attr.fistGenType}Handler relKvoHandler = new ${attr.fistGenType}HandlerFactory(descriptorStore).createHandler(r.getKvo());
				if (relKvoHandler.getRelation(${attr.fistGenType}Consts.s_${attr.annotations.get("Kvo_SearchParam").params.get("secondLevelJoin")}) != null){
					relationIds.add(relKvoHandler.getRelation(${attr.fistGenType}Consts.s_${attr.annotations.get("Kvo_SearchParam").params.get("secondLevelJoin")}).getId());
				}
			}
			if (relationIds.size()>0){
				base = addAndExpression(cb, base, (from.join(${classname}_.${attr.name}).get(${attr.fistGenType}_.${attr.annotations.get("Kvo_SearchParam").params.get("secondLevelJoin")}).get("id")).in(relationIds));
			}
		}
#end
#end
#end
	return base;
	}
	
	@Override
	public Order getOrderExpression(
			AbstractSearch action
			, CriteriaBuilder cb
			, Root<${classname}> from
			){
		Order o;
		String orderKey = action == null ? null : action.getOrderKey();
		if (orderKey == null) {
			//default default order
			orderKey = IFConsts.KEY_ID;
			//default order specified:
#foreach( $attr in $attrs )
#if (${attr.hasAnnotation("Kvo_SortDefault")})
			orderKey = ${classname}Consts.k_${attr.name};		
#end
#end				
		}
		Expression<?> orderExpr = null;
#foreach( $attr in $attrs )			
#if(!$attr.hasAnnotation("Kvo_Transparent") && !$attr.static && !$attr.generic
	&& $attr.type != "Date" && $attr.type != "Long" && $attr.type != "String" && $attr.type != "Double" && $attr.type != "Boolean"
	&& !$attr.enum && !$attr.hasAnnotation("Transient") && $attr.type!='CustomKVO')		
		List<String> idList = SharedUtil.listFromDotSeparated(orderKey);
	#break
#end
#end
			
#foreach( $attr in $attrs )			
#if(!$attr.hasAnnotation("Kvo_Transparent") && !$attr.static && !$attr.generic
	&& $attr.type != "Date" && $attr.type != "Long" && $attr.type != "String" && $attr.type != "Double" && $attr.type != "Boolean"
	&& !$attr.enum && !$attr.hasAnnotation("Transient") && $attr.type!='CustomKVO')
		if(idList.get(0).equals(${classname}Consts.k_${attr.name})){
			if(idList.size()==1) {
				Join<${classname}, ${attr.type}> title = from.join(${classname}_.${attr.name});
				orderExpr = title.get(${attr.type}Assist.getOrderKey());
			} else {
    			Join<${classname}, ?> orderPath =  from.join(idList.get(0));
    			for (int i = 1; i < idList.size()-1; i++ ){
    				orderPath = orderPath.join(idList.get(i));
    			}
    			orderExpr = orderPath.get(idList.get(idList.size()-1));
			}
		}
		else
#end
#end
		{
			orderExpr = from.get(orderKey);
		}
		if (action.isDescending() == null)
			//default order
			o = cb.asc(orderExpr);
		else if (action.isDescending())
			o = cb.desc(orderExpr);
		else
			o = cb.asc(orderExpr);
		return o;
	}
	
	@Override
	public Expression<Boolean> getSearchExpression(
			CriteriaBuilder cb
			, Path<${classname}> from
			, String value){
		Expression<Boolean> expr = null;
#foreach( $attr in $attrs )
#if(${attr.hasAnnotation("Kvo_SearchParam")})
#if(${attr.type} == "String")
		expr = addOrExpression(cb, expr, 
				cb.like(cb.upper(from.get(${classname}_.${attr.name})), value.toUpperCase() + "%"));
#end
#end
#end
		return expr;	
	}
	
}
