outpath:${class.workspaceRelativePath}kvo/${classname}KVO.java
package ${package}.kvo;

import java.util.List;
import java.util.LinkedList;
import ${package}.*;
import com.inepex.ineForm.shared.kvo.*;

public class ${classname}KVO extends ${classname} {

	private static final long serialVersionUID = 1L;

	public static final String descriptorName = "${classnameL1}Descriptor";

	List<String> keys = null;

#foreach( $attr in $attrs )
#if($attr.static == false && !${attr.hasAnnotation("Kvo_Transparent")})
	public static final String k_${attr.name} = "${attr.name}";
#end
#end

	@Override
	public String getDescriptorName() {
		return descriptorName;
	}
	
	@Override
	public List<String> getKeys() {
		if (keys == null) {
			keys = new LinkedList<String>();
#foreach( $attr in $attrs )
#if($attr.static == false && !${attr.hasAnnotation("Kvo_Transparent")})
			keys.add(k_${attr.name});
#end
#end
		}	
		return keys;
	}
	
		@Override
	public DtoAdapter clone() {
		${classname}KVO cloned = new ${classname}KVO();
#foreach( $attr in $attrs )
#if($attr.static == false && !${attr.hasAnnotation("Kvo_Transparent")})
#if($attr.enum)
		cloned.set${attr.nameU1}(get${attr.nameU1}());
#else
		cloned.set${attr.nameU1}(get${attr.nameU1}() == null ? null : new ${attr.type}(get${attr.nameU1}()));
#end
#end
#end		
		return cloned;
	}

	@Override
	protected void setObject(String key, Object o) {
#foreach( $attr in $attrs )
#if($attr.static == false && !${attr.hasAnnotation("Kvo_Transparent")})
		if (key.equals(k_${attr.name})) {
#if( $attr.type == "Date")
			set${attr.nameU1}(new Date((Long)o));
			return;
#elseif($attr.enum)
			if (o != null){
				set${attr.nameU1}(${attr.typeU1}.values()[((Long)o).intValue()]);
			}
			return;
#elseif($attr.type == "Long" || $attr.type == "Double" || $attr.type == "String" || $attr.type == "Boolean"
		|| $attr.type == "Relation")
			set${attr.nameU1}((${attr.type})o);
			return;
#elseif($attr.list == true)
			set${attr.nameU1}((IneList)o);
			return;
#end		
		}
#end
#end
	}
	
	
	@Override
	protected Object getObject(String key) {
#foreach( $attr in $attrs )
#if($attr.static == false && !${attr.hasAnnotation("Kvo_Transparent")})	
		if (get${attr.nameU1}() != null && key.equals(k_${attr.name}))
#if($attr.type == "Date")
			return get${attr.nameU1}().getTime();
#elseif($attr.enum)
			return new Long(get${attr.nameU1}().ordinal());
#elseif($attr.type == "Long" || $attr.type == "Double" || $attr.type == "String" || $attr.type == "Boolean"
		|| $attr.type == "Relation" || $attr.list == true)
			return get${attr.nameU1}();
#end
#end
#end
		return null;
	}
	
#foreach( $attr in $attrs )
#if($attr.static == false && !${attr.hasAnnotation("Kvo_Transparent")})
	public static String k_${attr.name}() {return k_${attr.name};}
#end
#end
}