// toEntity
#foreach( $attr in $attrs )
#if (!$attr.static)
	if (dto.get${attr.nameU1}() != null)
		entity.set${attr.nameU1}(dto.get${attr.nameU1}());
#end
#end

//toDTO
#foreach( $attr in $attrs )
#if (!$attr.static)
	if (e.get${attr.nameU1}() != null)
		dto.set${attr.nameU1}(e.get${attr.nameU1}());
#end
#end