@eval base com.inepex.ineFrame.client.util.DesignConstants.base();
@eval baseNegative com.inepex.ineFrame.client.util.DesignConstants.baseNegative();

.HeaderAndPageRoot {
	-webkit-box-shadow: -5px 0px 25px 0px rgba(50, 50, 50, 0.75);
	-moz-box-shadow:    -5px 0px 25px 0px rgba(50, 50, 50, 0.75);
	box-shadow:         -5px 0px 25px 0px rgba(50, 50, 50, 0.75);
}

.HeaderAndPage {
	background-color: #FFFFFF;
}

.Header {
	
}

.Page {
	
}

.MessagePanel {
	
}

.NavigationDrawer {
	background-color: #999;
	float: left;
}

.navigationDrawerOpened {
	margin-left: 200px;
	transition-property: all;
	transition-duration: .5s;
	transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
}

.navigationDrawerClosed {
	margin-left: 0px;
	transition-property: all;
	transition-duration: .5s;
	transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
}

.messagePanelOpened {
	height: base;
	overflow-y: hidden;
	max-height: 500px;
	transition-property: all;
	transition-duration: .5s;
	transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
}

.messagePanelClosed {
	margin-top: baseNegative;
}