@eval base com.inepex.ineFrame.client.util.DesignConstants.base();
@eval baseNegative com.inepex.ineFrame.client.util.DesignConstants.baseNegative();
@eval b0d50 com.inepex.ineFrame.client.util.DesignConstants.b0d50();
@eval b0d50Negative com.inepex.ineFrame.client.util.DesignConstants.b0d50Negative();
@eval navigationDrawerWidth com.inepex.ineFrame.client.util.DesignConstants.b5();
@eval defaultAnimationLength com.inepex.ineFrame.client.util.DesignConstants.defaultAnimationLength();

.MasterPage {
	overflow: hidden;
}

.HeaderAndPageRoot {
	-webkit-box-shadow: -5px 10px 25px 0px rgba(50, 50, 50, 0.75);
	-moz-box-shadow:    -5px 10px 25px 0px rgba(50, 50, 50, 0.75);
	box-shadow:         -5px 10px 25px 0px rgba(50, 50, 50, 0.75);
}

.HeaderAndPage {
	background-color: #FFFFFF;
}

.Header {
	
}

.Page {
	
}

.MessagePanel {
	font-size: 11px;
	font-weight: bold;
	height: b0d50;
	margin-top: b0d50Negative;
	margin: auto;	
}

.NavigationDrawer {
	float: left;
}

.navigationDrawerOpened {
	margin-left: navigationDrawerWidth;
	transition-property: all;
	transition-duration: defaultAnimationLength;
	transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
}

.navigationDrawerClosed {
	margin-left: 0px;
	transition-property: all;
	transition-duration: defaultAnimationLength;
	transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
}

.messagePanelOpened {
	margin-top: 0px;
	transition-property: all;
	transition-duration: defaultAnimationLength;
	transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
}

.messagePanelClosed {
	margin-top: b0d50Negative;
	transition-property: all;
	transition-duration: defaultAnimationLength;
	transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
}