@eval base com.inepex.ineFrame.client.util.DesignConstants.baseWithUnit();
@eval baseNegative com.inepex.ineFrame.client.util.DesignConstants.baseNegativeWithUnit();
@eval b0d50 com.inepex.ineFrame.client.util.DesignConstants.b0d50WithUnit();
@eval b0d50Negative com.inepex.ineFrame.client.util.DesignConstants.b0d50NegativeWithUnit();
@eval b0d666 com.inepex.ineFrame.client.util.DesignConstants.b0d666WithUnit();
@eval b0d666Negative com.inepex.ineFrame.client.util.DesignConstants.b0d666NegativeWithUnit();
@eval navigationDrawerWidth com.inepex.ineFrame.client.util.DesignConstants.b5WithUnit();
@eval defaultAnimationLength com.inepex.ineFrame.client.util.DesignConstants.defaultAnimationLengthWithUnit();

.MasterPage {
	overflow: hidden;
}

.ClickHandlerLayout {
	background-color: rgba(0, 0, 0, 0);
	transition: all defaultAnimationLength ease-out;
}

.ClickHandlerLayoutFaded {
	background-color: rgba(0, 0, 0, 0.15);
	transition: all defaultAnimationLength ease-out;
}

.HeaderAndPageRoot {
	-webkit-box-shadow: -5px 15px 45px 0px rgba(0, 0, 0, 0.95);
	-moz-box-shadow:    -5px 15px 45px 0px rgba(0, 0, 0, 0.95);
	box-shadow:         -5px 15px 45px 0px rgba(0, 0, 0, 0.95);
}

.HeaderAndPage {
	background-color: #FFFFFF;
}

.Header {
	
}

.Page {
	
}

.MessagePanel {
	height: b0d666;
	margin-top: b0d666Negative;
}

.NavigationDrawer {
	float: left;
}

.navigationDrawerOpened {
	margin-left: navigationDrawerWidth;
	-webkit-transition: all cubic-bezier(0, 1, 0.5, 1) defaultAnimationLength;
	-moz-transition: all cubic-bezier(0, 1, 0.5, 1) defaultAnimationLength;
	-o-transition: all cubic-bezier(0, 1, 0.5, 1) defaultAnimationLength;
	-ms-transition: all cubic-bezier(0, 1, 0.5, 1) defaultAnimationLength;
	transition: all cubic-bezier(0, 1, 0.5, 1) defaultAnimationLength;
}

.navigationDrawerClosed {
	margin-left: 0px;
	-webkit-transition: all cubic-bezier(0, 1, 0.5, 1) defaultAnimationLength;
	-moz-transition: all cubic-bezier(0, 1, 0.5, 1) defaultAnimationLength;
	-o-transition: all cubic-bezier(0, 1, 0.5, 1) defaultAnimationLength;
	-ms-transition: all cubic-bezier(0, 1, 0.5, 1) defaultAnimationLength;
	transition: all cubic-bezier(0, 1, 0.5, 1) defaultAnimationLength;
}

.messagePanelOpened {
	margin-top: 0px;
	-webkit-transition: all cubic-bezier(0, 1, 0.5, 1) defaultAnimationLength;
	-moz-transition: all cubic-bezier(0, 1, 0.5, 1) defaultAnimationLength;
	-o-transition: all cubic-bezier(0, 1, 0.5, 1) defaultAnimationLength;
	-ms-transition: all cubic-bezier(0, 1, 0.5, 1) defaultAnimationLength;
	transition: all cubic-bezier(0, 1, 0.5, 1) defaultAnimationLength;
}

.messagePanelClosed {
	margin-top: b0d666Negative;
	-webkit-transition: all cubic-bezier(0, 1, 0.5, 1) defaultAnimationLength;
	-moz-transition: all cubic-bezier(0, 1, 0.5, 1) defaultAnimationLength;
	-o-transition: all cubic-bezier(0, 1, 0.5, 1) defaultAnimationLength;
	-ms-transition: all cubic-bezier(0, 1, 0.5, 1) defaultAnimationLength;
	transition: all cubic-bezier(0, 1, 0.5, 1) defaultAnimationLength;
}