@eval base com.inepex.ineFrame.client.util.DesignConstants.baseWithUnit();
@eval b0d333 com.inepex.ineFrame.client.util.DesignConstants.b0d333WithUnit();
@eval b0d25 com.inepex.ineFrame.client.util.DesignConstants.b0d25WithUnit();
@eval b0d166 com.inepex.ineFrame.client.util.DesignConstants.b0d166WithUnit();
@eval b0d125 com.inepex.ineFrame.client.util.DesignConstants.b0d125WithUnit();
@eval b0d666 com.inepex.ineFrame.client.util.DesignConstants.b0d666WithUnit();
@eval b1d5 com.inepex.ineFrame.client.util.DesignConstants.b1d5WithUnit();
@eval b5 com.inepex.ineFrame.client.util.DesignConstants.b5WithUnit();
@eval b4 com.inepex.ineFrame.client.util.DesignConstants.b4WithUnit();

@eval backgroundColor com.inepex.ineFrame.client.util.DesignConstants.getBackgroundColor();
@eval ineColor1 com.inepex.ineFrame.client.util.DesignConstants.getIneColor1();
@eval ineColor2 com.inepex.ineFrame.client.util.DesignConstants.getIneColor2();
@eval menuSeparatorColor com.inepex.ineFrame.client.util.DesignConstants.getMenuSeparatorColor();
@eval menuFontColor com.inepex.ineFrame.client.util.DesignConstants.getMenuFontColor();

.ineMenu {
	width: b5;
	height: 100%;
	background-color: backgroundColor;
	font-size: b0d333;
	color: menuFontColor;
}

.ineMenuScrollPanel {
	width: b5;
	height: 100%;
	background-color: backgroundColor;
}

.userProfile {
	height: b1d5;
	width: 100%;
}

.userProfileImg {
	padding: b0d166;
}

.userProfileEmail {
	font-size: b0d25;
	max-width: b4;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.userProfileName {
	height: 50%;
	font-weight: bold;
	max-width: b4;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.menuSeparatorLbl {
	padding: 0 b0d125;
}

.menuSeparatorPanel {
	width: 100%;
	height: b0d666;
	line-height: b0d666;
	background-color: menuSeparatorColor;
	vertical-align: middle;
}

.menuElementRow {
	width: 100%;
	height: base;
	cursor: pointer;
}

.menuElementRow:hover {
	background-color: ineColor1;
}

.menuElementIcon {
	text-align: center;
	width: base;
}

.menuElementTable {
	width: 100%;
}

.inAliasMode {
	color: ineColor2;
}