@CHARSET "UTF-8";

.displayInline {
	display: inline;
}

.lineThrough {
	text-decoration: line-through;
}

/******************[ slidingObjectEditor]*******************************/
.slidingObjectEditor_title {
	color : blue;
	font-size: 20px;
	padding: 10px 10px 10px 10px;
}

/************[ view: display validation errors ]*******************/
.errorMessageHolder_dontShowError {
	width: 202px;
	background-color: #F2F2F2;
	border-bottom:1px solid #DADADA;
	margin-bottom: 3px;
	padding: 4px 4px 4px 4px;
}

.errorMessageHolder_showError {
	background-color:#FFF2F2;
	border:1px solid red;
	color:black;
	font-size:0.9em;
	margin-bottom:3px;
	padding:4px;
	width:200px;
}

.flashingBorder {
	border-color: red;
	border-style: solid;
	border-width: 2px;
}

/************[ General ]*******************/

.menuButton {
	color: #fa3a00;
	font-weight: bold;
	width: 250px;
	margin: 3px;

}

.clickable {
	cursor: pointer;
}

/************[ IneForm ]*******************/
.ineForm{
	font-size: 0.9em;
	padding: 10px;
}


.ineForm .textValid {background: #A2E3A6;}
.ineForm .textInalid {background: #E3A2A2;}

.ineForm div {
	display: inline;
	margin-right: 5px;
}

/************[ view: IneTable ]*******************/
.ineTable {
	width: 100%;
}

/************[ SimpleTableForm ]*******************/


.ineForm {
	/*just till it's in popup
	border: solid;
	background: white;*/
}

.ineForm .evenRowCellTitle {
	border-bottom:1px solid #E1E1E1; color:#000000; font-size: 0.9em;
}

.ineForm .evenRowCellTitle .gwt-Label  {
	padding-left:12px;
}

.ineForm .oddRowCellTitle {
	border-bottom:1px solid #E1E1E1; color:#000000; font-size: 0.9em;
}

.ineForm .oddRowCellTitle .gwt-Label  {
	padding-left:12px;
}

.ineForm .evenRowCellContent {
	width:353px; background:none repeat scroll 0 0 #F2F2F2; border-bottom:1px solid #DADADA;
}

.ineForm .evenRowCellContent .gwt-TextBox {
	border:1px solid #7F9DB9; color:#7F9DB9; font-size:10px; padding:1px 1px 1px 4px;
}

.ineForm .evenRowCellContent .gwt-TextArea {
	border:1px solid #7F9DB9; color:#7F9DB9; font-size:10px; padding:1px 1px 1px 4px;
}

.ineForm .oddRowCellContent {
	width:353px; background:none repeat scroll 0 0 #F2F2F2; border-bottom:1px solid #DADADA;
}

.ineForm .oddRowCellContent .gwt-TextBox {
	border:1px solid #7F9DB9; color:#7F9DB9; font-size:10px; padding:1px 1px 1px 4px;
}

.ineForm .oddRowCellContent .gwt-TextArea {
	border:1px solid #7F9DB9; color:#7F9DB9; font-size:10px; padding:1px 1px 1px 4px;
}


.ineForm .oddRowCellMandatorySign  {
	padding: 5px; background:none repeat scroll 0 0 #F2F2F2; border-bottom:1px solid #DADADA; color: red; font-size:12px;
}

.mandatorySign {
	padding: 5px; background:none repeat scroll 0 0 #F2F2F2; border-bottom:1px solid #DADADA; color: red; font-size:12px;
}

.ineForm .evenRowCellMandatorySign  {
	padding: 5px; background:none repeat scroll 0 0 #F2F2F2; border-bottom:1px solid #DADADA; color: red; font-size:12px;
}

/* SimpleTableForm end }}}*/
.ChooserFw{
	width: 100%;
}
.ChooserFw .gwt-Button{
	width: 100px;
	
}
.richTextArea{
	background: white;	
}