@font-face {
	font-family: 'OpenSansRegular';
	src: url('font/opensans.eot');
	src: url('font/opensans.eot?#iefix') format('embedded-opentype'),
		url('font/opensans.woff') format('woff'),
		url('font/opensans.ttf') format('truetype'),
		url('font/opensans.svg#OpenSansRegular') format('svg');
	font-weight: normal;
	font-style: normal; 
}

html,body {
	margin: 0;
	padding: 0;
	font-family: 'OpenSansRegular',Arial,Trebuchet MS;
	height: 100%; /* needed for container min-height */
}

body {
	color: #666666;
}

/* these two rules below are good for eliminating the dotted border around a focused button */
.gwt-Button::-moz-focus-inner {
  border: 0;
}

.gwt-Button:focus {
  outline: none;
}

/* date picker */
.gwt-DatePicker { 
	background-color: #f6f6f6;
	border: 0px solid #ccc;
	box-shadow: 0px 1px 4px #ccc;
}

.datePickerDayIsValue {
	background: #12ad2b;
	border: 0px;
	color: white;
}

.datePickerDay {
	padding: 10px;
	cursor: hand;
	cursor: pointer;
}

.datePickerWeekdayLabel,.datePickerWeekendLabel {
	background-color: #f1f1f1;
	font-weight: bold;
	font-size: 14px;
	padding: 10px;
	cursor: default;
}

.datePickerDayIsToday {
	border:0	
}
