@CHARSET 'UTF-8';

.header {
	height: 50px;
	background-color: #333;
	border-bottom: 3px solid #12ad2b;	
}
.logo {
	margin-left: 10px;
	padding-right: 0px;
	margin-top: 13px;
	float: left;
	cursor: pointer;
}
.settingsUserName{
	color: #fff;
	font-size: 12px;
	font-family: arial;
   	cursor: pointer;
   	float: right;
 	margin-top: 18px;
   	margin-right: 20px;
   	cursor:pointer;
}
.settingsUserName:hover{
	color: #12ad2b;
	font-size: 12px;
	font-family: arial;
   	cursor: pointer;
   	float: right;
 	margin-top: 18px;
 	margin-botton:20px;
   	margin-right: 20px;
}
.settingsPopup{
	background-color: white;
	border-radius: 3px;
	box-shadow: 0px 0px 5px rgba(0,0,0,0.4);
	width: 200px;
}
.settingsPopup td{
	text-align: right;
	height: 50px;
	vertical-align: middle !important;
	font-weight: bold;
	color: #ccc;
	border-top: 1px solid #ccc;
	
}
.settingsPopup tr:first-child td{
	border-top: 0;
}
.settingsPopup td:hover{
	background: #f6f6f6;
	cursor: pointer;
	color: #666;
	border-radius: 3px;
}

.settingsPopup td div{
	padding: 0 15px;
	line-height: 50px;
}
.settingPanel{
	float: right;
	width: 50px;
	height: 50px;
	border-left: 1px solid #555;
	cursor: pointer;
}
.settingPanel:hover{
	float: right;
	width: 50px;
	height: 50px;
	border-left: 1px solid #555;
	cursor: pointer;
	background-color: #12ad2b;
}
.settingImg{
	display: block;
	margin: 17px;
}

.menuRendererWidgetContainer{
	width: 100%;
	border-collapse: collapse;
}
	
.pageContent {
	padding: 15px;
}

/* menu*/
.menu,
.submenu {
	box-shadow: 0 1px 3px rgba(0,0,0,.15);
}	

.menu ul,
.submenu ul {
	height:50px;
	width: 100%;
	margin: 0;
	padding: 0;
	list-style: none;
}

.menu li,
.submenu li {
	float: left;
	height:50px;
}

.menu ul li div,
.submenu ul li div{
	float: left;
	margin-right: 10px;
	margin-left: 5px;
	line-height: 42px;
	height: 50px;
}

.menu a,
.menu a:active,
.menu a:link,
.menu a:visited,
.submenu a,
.submenu a:link,
.submenu a:active,
.submenu a:visited {
	height:20px;
	float: left;
	color: #666;
	padding: 15px !important;
	text-decoration: none;
	display: block;
	font-family: arial;
	font-size: 13px;
	border-right: 1px solid #f0f0f0;
}

.menu a:hover,
.menu .current_page_item a,
.submenu a:hover,
.submenu .current_page_item a {
	text-decoration: none;
	color: white;
	border-right: 1px solid #12ad2b;
	background-color: #12ad2b;
}

/* menu3 */
.menu3 {
	height:30px;
	box-shadow: 0 1px 3px rgba(0,0,0,.15);
}

.menu3 ul {
	width: 100%;
	margin: 0;
	padding: 0px;
	list-style: none;
	line-height: normal;
}

.menu3 li {
	float: left;
}

.menu3 a:hover {
	color : white;
	border-right: 1px solid #12ad2b;
	background-color: #12ad2b;
}

.menu3 .current_page_item a {
	color: white;
	border-right: 1px solid #12ad2b;
}

.selector{
	width: 210px;
	color: #6d6d6d;
	font-family: arial;
	font-weight: bold;
	font-size: 11pt;
	text-align: center;
	vertical-align: top;
	cursor: pointer;
	padding: 0;
}

@sprite .arrow{
	gwt-image: 'selector_arrow_bg';
	
	height: 13px;
	width: 100%;
	border-bottom: 1px solid  #2e2e2d;
	border-right: 1px solid  #2e2e2d;
}

.selector .arrow img{
	margin-bottom: 5px;
}

@sprite .item{
	gwt-image: 'selector_item_bg';
	
	height: 28px;
	width: 100%;
	border-bottom: 1px solid  #2e2e2d;
	border-right: 1px solid  #2e2e2d;
}

.selector .item .content{
	margin-top: 5px;
	white-space: nowrap;
}
