@CHARSET 'UTF-8';

.header {
	height: 50px;
	background-color: #333;
	border-bottom: 3px solid #12ad2b;	
}
.logo {
	margin-left: 10px;
	padding-right: 0px;
	margin-top: 13px;
	float: left;
	cursor: pointer;
}
.settingsUserName{
	color: #fff;
	font-size: 12px;
	font-family: arial;
   	cursor: pointer;
   	float: right;
 	margin-top: 18px;
   	margin-right: 20px;
   	cursor:pointer;
}
.settingsUserName:hover{
	color: #12ad2b;
	font-size: 12px;
	font-family: arial;
   	cursor: pointer;
   	float: right;
 	margin-top: 18px;
 	margin-botton:20px;
   	margin-right: 20px;
}
.settingsPopup{
	background-color: white;
	border-radius: 3px;
	box-shadow: 0px 0px 5px rgba(0,0,0,0.4);
	width: 200px;
}
.settingsPopup td{
	text-align: right;
	height: 50px;
	vertical-align: middle !important;
	font-weight: bold;
	color: #ccc;
	border-top: 1px solid #ccc;
	
}
.settingsPopup tr:first-child td{
	border-top: 0;
}
.settingsPopup td:hover{
	background: #f6f6f6;
	cursor: pointer;
	color: #666;
	border-radius: 3px;
}

.settingsPopup td div{
	padding: 0 15px;
	line-height: 50px;
}
.settingPanel{
	float: right;
	width: 50px;
	height: 50px;
	border-left: 1px solid #555;
	cursor: pointer;
}
.settingPanel:hover{
	float: right;
	width: 50px;
	height: 50px;
	border-left: 1px solid #555;
	cursor: pointer;
	background-color: #12ad2b;
}
.settingImg{
	display: block;
	margin: 17px;
}

.menuRendererWidgetContainer{
	width: 100%;
	border-collapse: collapse;
}
	
.pageContent {
	padding-top: 20px;
	padding-left: 10px;
    padding-right: 10px;
}

/* menu ff*/
@if user.agent gecko1_8 {
.menu {
	height:50px;
	box-shadow: 0 1px 3px rgba(0,0,0,.15);
	}
/* opera */
} @elif user.agent opera {
.menu {
	height:50px;
	box-shadow: 0 1px 3px rgba(0,0,0,.15);
	}
/* menu other or safari or chrome*/
} @else {
.menu {
	height:50px;
	box-shadow: 0 1px 3px rgba(0,0,0,.15);
	}
}
	

.menu ul {
	width: 100%;
	margin: 0;
	padding: 0px;
	list-style: none;
	line-height: normal;
}

.menu li {
	float: left;
}

.menu li img{
	float: left;
	padding-right: 10px;
}
.menu a {
	float: left;
	color: #666;
	line-height: 20px;
	padding: 15px 10px;
	text-decoration: none;
	display: block;
	font-family: arial;
	font-size: 13px;
	border-right: 1px solid #f0f0f0;
}

.menu a:hover {
	float: left;
	color: #666;
	padding: 15px 10px;
	line-height: 20px;
	text-decoration: none;
	display: block;
	font-family: arial;
	font-size: 13px;
	color: white;
	border-right: 1px solid #12ad2b;
	background-color: #12ad2b;
}


.menu .current_page_item a {
	float: left;
	color: #666;
	padding: 15px 10px;
	line-height: 20px;
	text-decoration: none;
	display: block;
	font-family: arial;
	font-size: 13px;
	color: white;
	background-color: #12ad2b;
	border-right: 1px solid #12ad2b;
}

/* submenu */
@if user.agent gecko1_8 {
.submenu {    
	height:30px;
	box-shadow: 0 1px 3px rgba(0,0,0,.15);
	}
/* opera */
} @elif user.agent opera {
.submenu {    
	height:30px;
	box-shadow: 0 1px 3px rgba(0,0,0,.15);
	}
/* menu other or safari or chrome*/
} @else {
.submenu {    
	height:30px;
	box-shadow: 0 1px 3px rgba(0,0,0,.15);
	}
}

.submenu ul {
	width: 100%;
	margin: 0;
	padding: 0px;
	list-style: none;
	line-height: normal;
}

.submenu li {
	float: left;
}
.submenu li div{
padding-top:4px !important;
padding-left: 9px;
}

.submenu a, .submenu a:link, .submenu a:visited, .submenu a:active {
	float: left;
	padding: 5px 10px 9px 10px;
	text-decoration: none;
	display: block;
	font-family: arial;
	font-size: 13px;
	border-right: 1px solid #f0f0f0;
}

.submenu a:hover {
	color : white;
	border-right: 1px solid #12ad2b;
	background-color: #12ad2b;
}

.submenu .current_page_item a {
	color: white;
	border-right: 1px solid #12ad2b;
}
.submenu .current_page_item{
	background-color: #12ad2b;
}
/* menu3 */
@if user.agent gecko1_8 {
.menu3 {
	height:30px;
	box-shadow: 0 1px 3px rgba(0,0,0,.15);
	}
/* opera */
} @elif user.agent opera {
.menu3 {
	height:30px;
	box-shadow: 0 1px 3px rgba(0,0,0,.15);
	}
/* menu other or safari or chrome*/
} @else {
.menu3 {
	height:30px;
	box-shadow: 0 1px 3px rgba(0,0,0,.15);
	}	
}

.menu3 ul {
	width: 100%;
	margin: 0;
	padding: 0px;
	list-style: none;
	line-height: normal;
}

.menu3 li {
	float: left;
}

.menu3 a, .submenu a:link, .submenu a:visited, .submenu a:active {
	float: left;
	padding: 5px 10px 9px 10px;
	text-decoration: none;
	display: block;
	font-family: arial;
	font-size: 13px;
	border-right: 1px solid #12ad2b;
}

.menu3 a:hover {
	color : white;
	border-right: 1px solid #12ad2b;
	background-color: #12ad2b;
}

.menu3 .current_page_item a {
	color: white;
	border-right: 1px solid #12ad2b;
}

.selector{
	width: 210px;
	color: #6d6d6d;
	font-family: arial;
	font-weight: bold;
	font-size: 11pt;
	text-align: center;
	vertical-align: top;
	cursor: pointer;
	padding: 0;
}

@sprite .arrow{
	gwt-image: 'selector_arrow_bg';
	
	height: 13px;
	width: 100%;
	border-bottom: 1px solid  #2e2e2d;
	border-right: 1px solid  #2e2e2d;
}

.selector .arrow img{
	margin-bottom: 5px;
}

@sprite .item{
	gwt-image: 'selector_item_bg';
	
	height: 28px;
	width: 100%;
	border-bottom: 1px solid  #2e2e2d;
	border-right: 1px solid  #2e2e2d;
}

.selector .item .content{
	margin-top: 5px;
	white-space: nowrap;
}
