outpath:${class.getParentRelativePath(0)}/shared/assist/${classname}Assist.java
package ${class.getParentPackage(0)}.shared.assist;
import java.util.Date;

import com.inepex.ineForm.shared.descriptor.*;
import com.inepex.ineForm.shared.descriptor.form.*;
import com.inepex.ineForm.shared.descriptor.table.*;
import com.inepex.ineForm.shared.types.*;

import static com.inepex.ineForm.shared.util.SharedUtil.*;

import ${package}.kvo.*;
import ${package}.kvo.search.*;

public class ${classname}Assist extends Assist {

	public static class I18n{
// copy these to .csv
#foreach( $attr in $attrs )
#if($attr.static == false && !${attr.hasAnnotation("Kvo_Transparent")})
//"${classnameL1}_${attr.name}";"";"${attr.nameU1}";"${attr.nameU1}"
#end
#end
//
#foreach( $attr in $attrs )
#if($attr.static == false && !${attr.hasAnnotation("Kvo_Transparent")})
		public final static String ${classnameL1}_${attr.name} = /*hc:i18n_${velocityCount}*/"${attr.nameU1}"/*hc*/;
#end
#end		
	}
	
	public ${classname}Assist(DescriptorStore descStore) {
		super(descStore);
	}
	
	@Override
	protected void registerExtraDescriptors() {
	}
	
	@Override
	public ValidatorDesc getValidatorDesc() {
		return new ValidatorDesc(${classname}KVO.descriptorName, new String[] {/*hc:vd1*/
			
		/*hc*/});
	}

	@Override
	public ObjectDesc getObjectDesc() {
		ObjectDesc objDesc = new ObjectDesc(${classname}KVO.descriptorName
#foreach( $attr in $attrs )
#if($attr.static == false && !${attr.hasAnnotation("Kvo_Transparent")})
#if($attr.type == "Date" || $attr.enum)
			, new LongFDesc(${classname}KVO.k_${attr.name}, /*hc:d${velocityCount}*/I18n.${classnameL1}_${attr.name}/*hc*/)/*hc:d2_${velocityCount}*//*hc*/
#elseif($attr.type == "Long" || $attr.type == "Boolean" || $attr.type == "Double" || $attr.type == "String")
			, new ${attr.typeU1}FDesc(${classname}KVO.k_${attr.name}, /*hc:d${velocityCount}*/I18n.${classnameL1}_${attr.name}/*hc*/)/*hc:d2_${velocityCount}*//*hc*/
#elseif($attr.list == true)
#if(${attr.hasAnnotation("OneToMany")} && ${attr.hasAnnotation("Kvo_SearchParam")})
			, new ListFDesc(${classname}KVO.k_${attr.name}, /*hc:d${velocityCount}*/I18n.${classnameL1}_${attr.name}/*hc*/,${attr.fistGenTypeU1}KVO.descriptorName, "secondLevelJoin:$attr.getAnnotationParamValue("Kvo_SearchParam","secondLevelJoin")")/*hc:d2_${velocityCount}*//*hc*/
#else
			, new ListFDesc(${classname}KVO.k_${attr.name}, /*hc:d${velocityCount}*/I18n.${classnameL1}_${attr.name}/*hc*/,${attr.fistGenTypeU1}KVO.descriptorName)/*hc:d2_${velocityCount}*//*hc*/
#end
#elseif(${attr.hasAnnotation("Kvo_RelationType")})
			, new RelationFDesc(${classname}KVO.k_${attr.name}, /*hc:d${velocityCount}*/I18n.${classnameL1}_${attr.name}/*hc*/
										, ${attr.getAnnotationParamValue("Kvo_RelationType","name")})/*hc:d2_${velocityCount}*//*hc*/
#else
			, new RelationFDesc(${classname}KVO.k_${attr.name}, /*hc:d${velocityCount}*/I18n.${classnameL1}_${attr.name}/*hc*/
										, ${attr.type}KVO.descriptorName)/*hc:d2_${velocityCount}*//*hc*/
#end
#if(${attr.hasAnnotation("Column")}  || ${attr.hasAnnotation("JoinColumn")})
#if(${attr.getAnnotationParamValue("Column","nullable")} == "false" 
	  || ${attr.getAnnotationParamValue("JoinColumn","nullable")} == "false")
					.mandatory()
#end
#end
#end
#end
		);
		
		objDesc.setDefaultOrderKey(getOrderKey());
		return objDesc;
	}

	@Override
	public TableRDesc getTableRDesc() {
		TableRDesc tableRDesc = new TableRDesc(${classname}KVO.descriptorName);
			
		tableRDesc.getRootNode()
#foreach( $attr in $attrs )
#if ( $attr.static == false && !${attr.hasAnnotation("Kvo_Transparent")})
#if ( $attr.type == "Date" )
			.addChild(${classname}KVO.k_${attr.name}, new ColRDesc(/*hc:tdr1_${velocityCount}*/100, true/*hc*/)/*hc:tdr2_${velocityCount}*/.prop(ColRDesc.AS_DATE)#if(${attr.hasAnnotation("Kvo_SortDefault")}).prop(ColRDesc.DEFAULTSORT)#end/*hc*/)
#elseif ($attr.enum)
			.addChild(${classname}KVO.k_${attr.name}, new ColRDesc(/*hc:tdr1_${velocityCount}*/100, true/*hc*/)/*hc:tdr2_${velocityCount}*//*hc*/.prop(EnumListFW.enumValues + ":" + ${attr.type}.getValuesAsString())#if(${attr.hasAnnotation("Kvo_SortDefault")}).prop(ColRDesc.DEFAULTSORT)#end)
#elseif (!$attr.generic)
			.addChild(${classname}KVO.k_${attr.name}, new ColRDesc(/*hc:tdr1_${velocityCount}*/100, true/*hc*/)/*hc:tdr2_${velocityCount}*/#if(${attr.hasAnnotation("Kvo_SortDefault")}).prop(ColRDesc.DEFAULTSORT)#end/*hc*/)
#else
			.addChild(${classname}KVO.k_${attr.name}, new ColRDesc(/*hc:tdr1_${velocityCount}*/100/*hc*/)/*hc:tdr2_${velocityCount}*/#if(${attr.hasAnnotation("Kvo_SortDefault")}).prop(ColRDesc.DEFAULTSORT)#end/*hc*/)				
#end 
#end 
#end
			;
		return tableRDesc;
	}
	
	@Override
	public FormRDesc getFormRDesc() {
		FormRDesc formRDesc = new FormRDesc(${classname}KVO.descriptorName/*hc:frd_props*/
			
			/*hc*/);
			
		formRDesc.getRootNode()
#foreach( $attr in $attrs )
#if ($attr.static == false && !${attr.hasAnnotation("Kvo_Transparent")})
#if ($attr.name == "id")
			.addChild(${classname}KVO.k_${attr.name}, new WidgetRDesc(/*hc:f${velocityCount}*/FWTypes.LABEL/*hc*/))
#elseif( $attr.type == "Date" )
			.addChild(${classname}KVO.k_${attr.name}, new WidgetRDesc(/*hc:f${velocityCount}*/FWTypes.DATEBOX/*hc*/))
#elseif($attr.type == "String")
			.addChild(${classname}KVO.k_${attr.name}, new WidgetRDesc(/*hc:f${velocityCount}*/FWTypes.TEXTBOX/*hc*/))
#elseif($attr.type == "Long" || $attr.type == "Double")
			.addChild(${classname}KVO.k_${attr.name}, new WidgetRDesc(/*hc:f${velocityCount}*/FWTypes.NUMBERTEXTBOX/*hc*/))
#elseif($attr.type == "Boolean")
			.addChild(${classname}KVO.k_${attr.name}, new WidgetRDesc(/*hc:f${velocityCount}*/FWTypes.CHECKBOX/*hc*/))
#elseif($attr.enum)
			.addChild(${classname}KVO.k_${attr.name}, new WidgetRDesc(/*hc:f${velocityCount}*/FWTypes.ENUMLISTBOX/*hc*/, EnumListFW.enumValues + ":" + ${attr.type}.getValuesAsString()))
#elseif(${attr.hasAnnotation("Kvo_OneToOne")})
			.addChild(${classname}KVO.k_${attr.name}, new WidgetRDesc(/*hc:f${velocityCount}*/FWTypes.RELATEDFORM/*hc*/))
#elseif($attr.list == true)
			.addChild(${classname}KVO.k_${attr.name}, new WidgetRDesc(/*hc:f${velocityCount}*/FWTypes.RELATIONLIST/*hc*/))
#else
			.addChild(${classname}KVO.k_${attr.name}, new WidgetRDesc(/*hc:f${velocityCount}*/FWTypes.LISTBOX/*hc*/))
#end
#end			
#end
			;
		return formRDesc;
	}

	@Override
	public ObjectDesc getSearchObjectDesc() {			
#if(${class.hasAnnotation("Kvo_Unsearchable")} == false)
		return new ObjectDesc(${classname}SearchKVO.descriptorName
#foreach( $attr in $attrs )
#if(${attr.hasAnnotation("Kvo_SearchParam")})
#if($attr.type == "Date" || $attr.enum)
			, new LongFDesc(${classname}SearchKVO.k_${attr.name}, /*hc:ds${velocityCount}*/"${attr.nameU1}"/*hc*/)
#elseif($attr.type == "Long" || $attr.type == "Boolean" || $attr.type == "Double" || $attr.type == "String")
			, new ${attr.typeU1}FDesc(${classname}SearchKVO.k_${attr.name}, /*hc:ds${velocityCount}*/"${attr.nameU1}"/*hc*/)
#elseif(${attr.hasAnnotation("Kvo_OneToOne")})
			, new StringFDesc(${classname}SearchKVO.k_${attr.name}, /*hc:ds${velocityCount}*/"${attr.nameU1}"/*hc*/)
#elseif($attr.list == true)
			, new ListFDesc(${classname}SearchKVO.k_${attr.name}, /*hc:ds${velocityCount}*/"${attr.nameU1}"/*hc*/
										, ${attr.fistGenType}KVO.descriptorName)
#else 
			, new RelationFDesc(${classname}SearchKVO.k_${attr.name}, /*hc:ds${velocityCount}*/"${attr.nameU1}"/*hc*/
										, ${attr.type}KVO.descriptorName)
#end
#end
#end
		);
#else
		return null;
#end
	}
	
	@Override
	public FormRDesc getSearchFormRDesc() {
#if(${class.hasAnnotation("Kvo_Unsearchable")} == false)
		FormRDesc searchFormRDesc = new FormRDesc(${classname}SearchKVO.descriptorName);
			
		searchFormRDesc.getRootNode().dummy()
#foreach( $attr in $attrs )
#if(${attr.hasAnnotation("Kvo_SearchParam")})
#if ($attr.name == "id")
			.addChild(${classname}SearchKVO.k_${attr.name}, new WidgetRDesc(/*hc:fs${velocityCount}*/FWTypes.LABEL/*hc*/))
#elseif($attr.type == "Date" )
			.addChild(${classname}SearchKVO.k_${attr.name}, new WidgetRDesc(/*hc:fs${velocityCount}*/FWTypes.DATEBOX/*hc*/))
#elseif($attr.type == "String")
			.addChild(${classname}SearchKVO.k_${attr.name}, new WidgetRDesc(/*hc:fs${velocityCount}*/FWTypes.TEXTBOX/*hc*/))
#elseif($attr.type == "Long" || $attr.type == "Double")
			.addChild(${classname}SearchKVO.k_${attr.name}, new WidgetRDesc(/*hc:fs${velocityCount}*/FWTypes.NUMBERTEXTBOX/*hc*/))
#elseif($attr.type == "Boolean")
			.addChild(${classname}SearchKVO.k_${attr.name}, new WidgetRDesc(/*hc:fs${velocityCount}*/FWTypes.CHECKBOX/*hc*/))
#elseif($attr.enum)
			.addChild(${classname}SearchKVO.k_${attr.name}, new WidgetRDesc(/*hc:f${velocityCount}*/FWTypes.ENUMLISTBOX/*hc*/,  EnumListFW.enumValues + ":" + ${attr.type}.getValuesAsString()))
#elseif(${attr.hasAnnotation("Kvo_OneToOne")})
			.addChild(${classname}SearchKVO.k_${attr.name}, new WidgetRDesc(/*hc:fs${velocityCount}*/FWTypes.TEXTBOX/*hc*/))
#elseif($attr.list == true)
			.addChild(${classname}SearchKVO.k_${attr.name}, new WidgetRDesc(/*hc:fs${velocityCount}*/FWTypes.RELATIONLIST/*hc*/))
#elseif($attr.list == false)
			.addChild(${classname}SearchKVO.k_${attr.name}, new WidgetRDesc(/*hc:fs${velocityCount}*/FWTypes.LISTBOX/*hc*/))

#end
#end			
#end
			;
		return searchFormRDesc;
#else
		return null;
#end	
	}
}
